{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Therapists {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'easetalk/pages.css'%}">
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
</head>
<body>
    <header>
        <div class="header-container">
            <a href="{% url 'easetalk:home' %}" class="brand">
                <i class="fas fa-heart-pulse"></i>
                EaseTalk
            </a>
            <button class="mobile-nav-toggle">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        {% include 'partials/_navbar.html' %}
    </header>
  
    {% block content %}{% endblock %}
    <script src="{% static 'js/homepage.js' %}"></script>
</body>
</html>